.signup {
    background-color: white;
   
}


.signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 352px;
}

.signup__formText > button {
    background-color: #507adc;
    border:1px solid lightgrey;
    border-radius: 4px;
    padding:7px 115px;
    color:white;
    font-weight: bold;
}

#signup__text {
  color:grey;
  margin: 15px 37px;
  font-size:16px;
  
}

.signup__formText {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
}

.signup__formText > label > input {
    padding:9px;
    margin-bottom: 8px;
    width:250px;
    border:1px solid lightgrey;
    border-radius: 6px;
    background-color: rgb(245, 245, 245);
}

.signup__formText > p {
    font-size: 12px;
    margin:12px 40px;
    text-align: center;
    color:grey;
    
}

.signup__formMoreText {
    border:1px solid lightgrey;
    margin:25px 0px;    
    width: 352px;
    padding:30px 0px;
    font-size: 14px;
    text-align: center;
}







