.section {
    display: flex;
    margin:70px auto;
    justify-content: center;
    max-width: 920px;
}

.section__left {
    flex:0.4;
}
.section__rightUser > img {
    height: 65px;
    border: 1px solid black;
    border-radius: 32px;
}

.section__right {
    display: flex;
    flex:0.1;
    justify-content: center;
    max-height: 95px;
    align-items: center;
    margin-left: 20px;
}

.section__rightUser {
    padding: 5px 8px;
}

.section__rightUser > p {
    font-size: 14px;
    width:150px;
}

.section__rightUser > button {
    font-size: 13px;
    border:none;
    background-color: white;
    color:#0095f6;
    font-weight: bold;
}

.section__rightUser > button:hover {
   cursor: pointer;
}

